.step-content {
  padding: 20px;
}

.form-group {
  text-align: left;
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
  color: #000000 !important;
  text-align: start;
  margin-top: 1rem;
}

.form-check {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-check-label {
  color: #0b7ced;
  margin-right: auto;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
}

.checkbox-group .form-check {
  flex: 0 0 48%;
  margin-bottom: 15px;
}

.form-check-input {
  margin-left: 10px;
}

.form-check-input:checked {
  background-color: #000000 !important;
  border-color: #000000 !important;
}

.form-check-input:focus {
  box-shadow: none;
  outline: none;
  border-color: #6c757d;
}

.form-check-label:hover {
  color: #007bff;
}

.checkbox-group .form-check-label {
  cursor: pointer;
}

.d-flex {
  display: flex !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.ml-auto {
  margin-left: auto !important;
}


.bw-input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 15px;
  }
  
  .bw-input label {
    font-weight: bold;
    color: #343a40;
  }
  
  .bw-input input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 5px;
  }
